body {
  font-family: Google Sans, Roboto, arial, sans-serif !important;
  color: #202124;
  font-size: 22px;
  line-height: 26px;
}

h1 {
  display: block;
  text-align: center;
  margin-top: 50px;
}
