body {
  font-family: Google Sans, Roboto, arial, sans-serif !important;
  color: #202124;
  font-size: 22px;
  line-height: 26px;
}

.container {
  margin-top: 100px;
}

.weather-app {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid coral;
}

.footer {
  text-align: center;
}
